h1,
body,
.footer {
    display: block;
    margin: 0 auto;
    padding: 10px;
    color: #be97c6;
    text-align: center;

}

.container {
    margin-top: 50px;
    border: 5px double #e2a000;
    padding: 20px;
    border-radius: 5px;

}

.card {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
}

@media (min-width: 576px) {
    .card {
        width: 20rem;
    }
}

@media (min-width: 768px) {
    .card {
        width: 22rem;
    }
}

@media (min-width: 992px) {
    .card {
        width: 24rem;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 26rem;
    }
}

.card-title {
    color: #e2a000;
}

.btn {
    background-color: #e2a000;
    color: white;
}

.btn:hover {
    background-color: #be97c6;
    /* Change the background color to purple on hover */
    color: white;
    /* Change the text color to white on hover for better visibility */
}